      <div class="site-title">
            <a href="/"> <h1> Blog Title- From partials</h1></a>
            <p>A My first Blog</p>
      </div>
<ul>
      <li><a href="/">Home </a></li>
      <li><a href="/about">About </a></li>
      <li><a href="/create"> New Blog</a></li>
</ul>
<!-- <p>index_ejs_p1.js 함께 사용</p> -->
</nav>

 