.div1 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

/* :hover : 요소에 마우스를 올렸을 때 */
.div1:hover {
    background-color: hotpink;
    height: 150px;
}

/* :active : 요소를 마우스로 클릭하고 있을 때 */
.div1:active {
    background-color: brown;
    width: 150px;
}

/* :focus : 요소에 포커스가 됐을 때 */
input:focus {
    background-color: violet;
    color: #ffffff;
    outline-color: yellowgreen;
}

.links > a:hover {
    background-color: coral;
}

.links > a:visited {
    /* color: #cccccc; */
    color: red;
}

/* 요소 상황에 따른 가상 선택자 */
.zoo > * {
    background-color: green;
    color: white;
}

/* E:last-child: E가 마지막 요소라면 */
.zoo > li:last-child {
    background-color: black;
}

/* E:first-child: E가 첫 요소라면 */
.zoo > *:first-child {
    background-color: red;
}

/* (참고) div: 적용 안됨. */
/* .zoo > div:first-child{
    background-color: blueviolet;
} */

/* E:not(XYZ) : XYZ가 아닌 요소 선택 */
.zoo > *:not(div) {
    background-color: pink;
}

/* E:nth-child(n): E가 n번째 요소라면 선택 */
.zoo > *:nth-child(2) {
    background-color: aqua;
}

/* 가상요소 : before, after */
/* 
    - HTML 문서의 특정 부분을 스타일링하기 위해 사용.
    - 실제로 HTML 문서에 존재하지 않는 부분이지만 CSS를 통해 스타일 적용이 가능.

    (참고)
    * Q) 가상클래스 : 와 가상요소 :: 차이?
    A) 
    CSS 사양이 발전하면서 가상클래스와 가상 요소를 명확하게 구분할 필요성이 생김.
    가상 클래스는 – 문서의 기존 요소 상태를 나타냄.
    가상 요소는 문서의 특정 부분을 생성하여 스타일링함.
    그렇기에 구분하기 위해 :: 로 표기하는 새로운 표기법을 도입.
*/

/* 실습 문제 */
/* Q1) before, after */
.box::before {
    content: '택시~';
    font-weight: bold;
    color: red;
}

.box::after {
    content: '빨리!!';
    font-weight: bold;
    color: blue !important
}
.box::after {
    content: '빨리!!';
    font-weight: bold;
    color: yellowgreen
}


/*  */

/* Q2) LMS 가상선택자 실습 풀이 */
[disabled] {
    background-color: red;
}

[placeholder="이름"] {
    background-color: orange;
}

input:not([placeholder]) {
    background-color: blue;
}
/* css도 나중에 적힌게 입혀진다. */