<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- jqeury cdn (for AJAX)-->
    <!-- cdn link: https://releases.jquery.com/ -->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>

    <!-- axios cdn (for AXIOS)-->
    <!-- cdn link: https://axios-http.com/kr/docs/intro -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      body {
        background-color: aliceblue;
      }

      .result {
        font-weight: 700;
        font-size: 24px;
      }
    </style>
  </head>

  <body>
    <h1><%= title %></h1>

    <!-- form validation을 위해 required 속성 추가 -> axiosGet()으로 이동!! -->

    <form name="register">
      <label for="name">이름</label>
      <input type="text" name="name" id="name" required />
      <br />

      성별
      <input type="radio" name="gender" value="남자" id="male" required />
      <label for="male">남자</label>
      <input type="radio" name="gender" value="여자" id="female" />
      <label for="female">여자</label>
      <br />

      <button type="button" onclick="ajaxGet();">ajax get 제출</button>
      <button type="button" onclick="ajaxPost();">ajax post 제출</button>
      <button type="button" onclick="axiosGet();">axios get 제출</button>
      <button type="button" onclick="axiosPost();">axios post 제출</button>
      <button type="button" onclick="fetchGet();">fetch get제출</button>
      <button type="button" onclick="fetchPost();">fetch post 제출</button>

      <!-- <button type="button" onclick="getTodos();">TEST</button> -->
    </form>

    <div class="result"></div>

    <script>
      const resultBox = document.querySelector('.result');

      function ajaxGet() {
        console.log('####### click ajaxGet #######');

        // 폼 선택하기
        const form = document.forms['register'];

        // 폼 객체 요소 및 요소값 확인하기
        console.dir(form);
        console.dir(form.name);
        console.dir(form.gender);
        console.dir(form.name.value);
        console.dir(form.gender.value);

        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        // AJAX 비동기 통신 - GET 요청 보내기
        $.ajax({
          type: 'GET',
          url: '/ajax',
          data: data, // { name: form.name.value, gender: form.gender.value, }
          success: function (data) {
            console.log(data);
            resultBox.textContent = `GET /ajax 요청 완료!! ${data.name}님은 ${data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = 'blue';
          },
        });
      }

      function ajaxPost() {
        console.log('####### click ajaxPost #######');

        // 폼 선택하기
        const form = document.forms['register'];

        // 폼 객체 요소 및 요소값 확인하기
        console.dir(form);
        console.dir(form.name);
        console.dir(form.gender);
        console.dir(form.name.value);
        console.dir(form.gender.value);

        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        // AJAX 비동기 통신 - POST 요청 보내기
        $.ajax({
          type: 'POST',
          url: '/ajax',
          data: data, // { name: form.name.value, gender: form.gender.value, }
          success: function (data) {
            console.log(data);
            resultBox.textContent = `POST /ajax 요청 완료!! ${data.name}님은 ${data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = 'red';
          },
        });
      }

      // axios vs. fetch : https://velog.io/@eunbinn/Axios-vs-Fetch
      // axios는 순수 fetch와 달리 promise 반환하는 응답 객체 호출 + 응답 객체 파싱까지 한 번에!!
      function axiosGet() {
        console.log('####### click axiosGet #######');

        const form = document.forms['register'];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        console.log(form.name.checkValidity());
        console.log(form.gender[0].checkValidity());
        console.log(form.gender[1].checkValidity());
        // radio 버튼 중 하나라도 check 되면 전부 true -> nor, false

        // type="button"의 유효성 검사
        // Ref1: w3schools.com/js/js_validation_api.asp
        // Ref2: https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/checkValidity
        if (!form.name.checkValidity()) {
          // resultBox.textContent = form.name.validationMessage; // 이 입력란을 작성하세요.
          resultBox.textContent = '이름을 입력해주세요!!'; // custom msg
        } else if (!form.gender[0].checkValidity()) {
          // resultBox.textContent = form.gender[0].validationMessage; // 다음 옵션 중 하나를 선택하세요.
          resultBox.textContent = '성별을 선택해주세요!!'; // custom msg
        } else {
          axios({
            // params를 안보내는 경우 url 자체를 다음과 같이 보낼 수도 있음
            // method: 'GET',
            // url: `/axios?name=${form.name.value}&gender=${form.gender.value}`,
            method: 'GET',
            url: '/axios',
            params: data, // GET 요청 => params에!!
          })
            .then(function (response) {
              const { name, gender } = response.data;
              console.log(response); // app.js(서버)의 응답 결과 (status 등 ..)
              console.log(response.data); // app.js의 res.send(req.query)가 response의 data에 담김
              console.log('------------');
              console.log(response.status);
              console.log(response.statusText);
              console.log(response.headers);
              console.log(response.config);
              console.log('------------');
              resultBox.textContent = `GET /axios 요청 완료!! ${name}님은 ${gender}이시죠?ㅎㅎ`;
              resultBox.style.color = 'green';
            })
            .catch(function (error) {
              console.log('Error! ', error);
            });

          // async/await 사용하기
          // function 키워드 앞에 async 붙일 것
          // try {
          //   const response = await axios({
          //     // params를 안보내는 경우 url 자체를 다음과 같이 보낼 수도 있음
          //     // method: 'GET',
          //     // url: `/axios?name=${form.name.value}&gender=${form.gender.value}`,
          //     method: 'GET',
          //     url: '/axios',
          //     params: data, // GET 요청 => params에!!
          //   });
          //   console.log(response);
          //   console.log(response.data); // app.js의 res.send(req.query)가 response의 data에 담김
          //   resultBox.textContent = `GET /axios 요청 완료!! ${response.data.name}님은 ${response.data.gender}이시죠?ㅎㅎ`;
          //   resultBox.style.color = 'green';
          // } catch (error) {
          //   // app.js에서 의도적으로 요청 주소(GET /axios -> GET /axioss)를 변경해서 테스트해볼 것
          //   console.log('Error! ', error.message);
          // }
        }
      }

      function axiosPost() {
        console.log('####### click axiosPost #######');

        const form = document.forms['register'];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        axios({
          method: 'post',
          url: '/axios',
          data: data, // POST 요청 => data에!!
        }).then((response) => {
          console.log(response); // app.js(서버)의 응답 결과 (status 등 ..)
          console.log(response.data); // app.js의 res.send(req.body)가 response의 data에 담김
          resultBox.textContent = `POST /axios 요청 완료!! ${response.data.name}님은 ${response.data.gender}이시죠?ㅎㅎ`;
          resultBox.style.color = 'gold';
        });
      }

      // fetch 참고: https://www.daleseo.com/js-window-fetch/
      function fetchGet() {
        console.log('####### click fetchGet #######');

        const form = document.forms['register'];
        const urlQuery = `?name=${form.name.value}&gender=${form.gender.value}`;

        // fetch() 디폴트로 GET 방식 동작
        // fetch(`/fetch${urlQuery}`, {
        //   method: 'GET',
        // })
        fetch(`/fetch${urlQuery}`)
          .then(function (response) {
            console.log(response);
            return response.json();
            //  REST API들은 JSON 형태의 데이터를 응답하기 때문에, 응답(response) 객체는 json() 메서드를 제공
            // 응답(response) 객체로 부터 JSON 포맷의 응답 전문을 자바스크립트 객체로 변환
          })
          .then(function (data) {
            console.log(data);
            resultBox.textContent = `GET /fetch 요청 완료!! ${data.name}님은 ${data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = 'limegreen';
          });
      }

      function fetchPost() {
        console.log('####### click fetchPost #######');

        const form = document.forms['register'];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        // fetch, POST 는 headers 옵션을 통해 JSON 포맷을 사용한다고 알려줘야 함
        fetch('/fetch', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
          .then(function (response) {
            console.log(response);
            return response.json();
          })
          .then(function (data) {
            console.log(data);
            resultBox.textContent = `POST /fetch 요청 완료!! ${data.name}님은 ${data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = 'hotpink';
          });
      }
      // JSON.parse(): json -> js
      // JSON.stringify(): js -> json

      // 외부 API 접근
      // function getTodos() {
      //   const resopnse = fetch('https://jsonplaceholder.typicode.com/todos/1')
      //     .then((response) => response.json())
      //     .then((json) => console.log(json));
      // }
      // function getTodos() {
      //   axios
      //     .get('https://jsonplaceholder.typicode.com/todos/1')
      //     .then((response) => console.log(response.data));
      // }
    </script>
  </body>
</html>
