<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Blog <%= title %></title>
</head>

<body>
      <h1>About</h1>
      <nav>
            <div class="site-title">
                  <a href="/"> <h1> Blog Title</h1></a>
                  <p>A My first Blog</p>
            </div>
      <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/about">About </a></li>
            <li><a href="/create"> New Blog</a></li>
     </ul>
</nav>
<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores nobis alias nostrum voluptates dolore quidem commodi? Corrupti cupiditate, voluptatem hic iusto dignissimos iste molestiae temporibus nobis at vel laudantium adipisci.</p>


</body>
</html>